# {{ ansible_managed }} 

# interfaces(5) file used by ifup(8) and ifdown(8)
# Include files from /etc/network/interfaces.d:
source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

auto {{ ethernet.interface }}
iface {{ ethernet.interface }} inet dhcp

allow-hotplug {{ wireless.interface }}
iface {{ wireless.interface }} inet static
    address {{ wireless.ipv4.address }}
    netmask {{ wireless.ipv4.netmask }}
    network {{ wireless.ipv4.network }}
    broadcast {{ wireless.ipv4.broadcast }}
