# {{ ansible_managed }} 

interface={{ wireless.interface }}
listen-address={{ wireless.ipv4.address }}
bind-interfaces
server=8.8.8.8
domain-needed
bogus-priv
dhcp-range={{ wireless.dhcprange.start }},{{ wireless.dhcprange.end }},{{ wireless.dhcprange.lease_time }}
